

.radio-button {
  margin: 5px;
}

.selected-value {
  margin: 15px 0;
}

.loader{
  display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
}

.optioncontainer{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 15px;
}


@media (max-width:768px){
  .radio-group {
    display: inline-block;
    text-align: center;
  }
  .optioncontainer{
    display: initial;
  }
  .mat-form-field{
    display: flex;
    justify-content: center;
  }
}